.button-tab {
    overflow: hidden;
    border: none;
    background-color: #2f2f2f;
    color: #FDB714;
    width: 100%;
    transition: 0.3s;
}
.button-tab:after {
    position: absolute;
	left: -1px;
	content: '';
	height: 40px;
    width: 0px; 
    bottom: 0px;
    border-bottom: 4px solid #b71c1c;
	transition: all 1000ms ease-in-out;	
	opacity: 1;
}
.button-tab:hover:after {
    width: 100%;
    background-color: transparent;
}
.button-tab:hover, 
.button-tab:focus, 
.button-tab.active, 
.button-tab:target {
    background-color: #9D9D9D;
    color: #FFFFFF;
    overflow: hidden;
}



