<!DOCTYPE html>
<head>
</head>
<header>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap337/css/bootstrap.css')}}">
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/main.css')}}">
  <script src="{{url_for('static', filename='bootstrap337/js/boostrap.js')}}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <nav class="navbar navbar-inverse sharp fade-in one">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand col-sm-1">
              <span class="glyphicon glyphicon-barcode glyphico"></span>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="{{url_for('showComponents')}}">
                Home
              </a>
            </li>
            <li class="active">
              <a href="{{url_for('componentJSON')}}">
                JSON Record
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if 'username' in session%}
            <li>
              <a href="{{url_for('gdisconnect')}}">
                <span class="glyphicon glyphicon-log-out"></span>
                Log-out
              </a>
            </li>
            {% else %}
            <li>
              <a href="{{url_for('showLogin')}}">
                <span class="glyphicon glyphicon-log-in"></span>
                Login
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
  </nav>

  <section class="fade-in two">
          <h2>
            {% with logged = get_flashed_messages(category_filter=["logged"]) %}
             {% if logged %}
                <div class="panel panel-success sharp">
                  <div class="panel-body">
                      {%- for msg in logged %}
                        {{ msg }}
                      {% endfor -%}
                  </div>
                </div>
             {% endif %}
            {% endwith %}
          </h2>
  </section>
  <section>
    <h2>
        {% with welcome = get_flashed_messages(category_filter=["welcome"]) %}
        {% if welcome %}
          <div class="panel panel-primary copyright-wrap sharp" id="copyright-wrap">
            <div class="panel-body">
                <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
               {%- for msg in welcome %}
                {{ msg }}
               {% endfor -%}
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </h2>
  </section>
  <section class="fade-in four">
      <h3>
          {% with section = get_flashed_messages(category_filter=["section"]) %}
          {% if section %}
            <div class="panel panel-default copyright-wrap sharp" id="copyright-wrap">
              <div class="panel-body">
                  <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                 {%- for msg in section %}
                  {{ msg }}
                 {% endfor -%}
              </div>
            </div>
          {% endif %}
        {% endwith %}
      </h3>
      <h4>
        {% with compadd= get_flashed_messages(category_filter=["compadd"]) %}
        {% if compadd %}
          <div class="panel panel-info copyright-wrap sharp" id="copyright-wrap">
            <div class="panel-body">
                <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
               {%- for msg in compadd %}
                {{ msg }}
               {% endfor -%}
            </div>
          </div>
        {% endif %}
      {% endwith %}
    </h4>
    <h4>
      {% with compupdate = get_flashed_messages(category_filter=["compupdate"]) %}
      {% if compupdate %}
        <div class="panel panel-info copyright-wrap sharp" id="copyright-wrap">
          <div class="panel-body">
              <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
             {%- for msg in compupdate %}
              {{ msg }}
             {% endfor -%}
          </div>
        </div>
      {% endif %}
    {% endwith %}
  </h4>
  <h4>
      {% with compdelete= get_flashed_messages(category_filter=["compdelete"]) %}
      {% if compdelete %}
        <div class="panel panel-danger copyright-wrap sharp" id="copyright-wrap">
          <div class="panel-body">
              <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
             {%- for msg in compdelete %}
              {{ msg }}
             {% endfor -%}
          </div>
        </div>
      {% endif %}
    {% endwith %}
  </h4>
<h4>
  {% with partnew= get_flashed_messages(category_filter=["partnew"]) %}
  {% if partnew %}
    <div class="panel panel-info copyright-wrap sharp" id="copyright-wrap">
      <div class="panel-body">
          <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
         {%- for msg in partnew %}
          {{ msg }}
         {% endfor -%}
      </div>
    </div>
  {% endif %}
{% endwith %}
</h4>
<h4>
  {% with partedit= get_flashed_messages(category_filter=["partedit"]) %}
  {% if partedit %}
    <div class="panel panel-warning copyright-wrap sharp" id="copyright-wrap">
      <div class="panel-body">
          <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
         {%- for msg in partedit %}
          {{ msg }}
         {% endfor -%}
      </div>
    </div>
  {% endif %}
{% endwith %}
</h4>
<h4>
  {% with auth= get_flashed_messages(category_filter=["auth"]) %}
  {% if auth %}
    <div class="panel panel-warning copyright-wrap sharp flash-bg" id="copyright-wrap">
      <div class="panel-body">
          <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
         {%- for msg in auth %}
          {{ msg }}
         {% endfor -%}
      </div>
    </div>
  {% endif %}
{% endwith %}
</h4>
  <h4>
    {% with partdelete= get_flashed_messages(category_filter=["partdelete"]) %}
    {% if partdelete %}
      <div class="panel panel-danger copyright-wrap sharp" id="copyright-wrap">
        <div class="panel-body">
            <button type="button" class="close" data-target="#copyright-wrap" data-dismiss="alert">
              <span aria-hidden="true">&times;</span>
              <span class="sr-only">Close</span>
            </button>
           {%- for msg in partdelete %}
            {{ msg }}
           {% endfor -%}
        </div>
      </div>
    {% endif %}
  {% endwith %}
  </h4>
  </section>
</header>
