<html>
<head>
  <link rel="icon"
      type="image/png"
      href="static/img/icon/glyphicons-260-barcode.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap337/css/bootstrap.css')}}">
<link rel=stylesheet type=text/css href="{{url_for('static', filename='css/main.css')}}">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap337/js/bootstrap.min.js') }}"></script>
<title>
  PC Part Item Record
</title>
<!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<![endif]-->
</head>
{% block body %}
<body>
    <header>
        {% if 'username' in session %}
        <nav>
            {% include "header.html" %}
        </nav>
        {% else %}
        <nav style="display:none">
                {% include "header.html" %}
        </nav>
        {% endif %}
    </header>
    {% if 'username' in session %}
        <div class="container fade-in two">
            <div class="panel panel-default panel-width">
              <div class="panel-heading">
                <h4>
                    {{pc_components.c_name}}
                    {% if 'username' in session %}
                    <a href="{{ url_for('newPartItem', pccomponents_id=pc_components.id) }}" class="btn btn-default btn-md navbar-btn" role="button">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('newPartItem', pccomponents_id=pc_components.id) }}" class="btn btn-default btn-md navbar-btn" role="button" style="display:none">
                            <span class="glyphicon glyphicon-floppy-disk" style="display:none"></span>
                    </a>
                    {% endif %}
                </h4>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Part Name</th>
                                <th>Part Description</th>
                                <th>Unit Cost</th>
                                <th>Unit Quantity</th>
                                {% if 'username' in session %}
                                <th></th>
                                {% else %}
                                <th style="display:none!important"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        {% for i in pc_parts %}
                        <tbody>
                            <tr>
                                <td>
                                     {{i.p_name}}
                                </td>
                                <td>
                                     {{i.description}}
                                </td>
                                <td>
                                    {{i.cost}}
                                </td>
                                <td>
                                    {{i.qty}}
                                </td>
                                {% if 'username' in session %}
                                <td>
                                    <a href="{{url_for('deletePartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" data-toggle="modal" data-target="#my-modal">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{url_for('editPartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" class="glp_alignment">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </td>
                                {% else %}
                                <td style="display:none">
                                    <a href="{{url_for('deletePartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" data-toggle="modal" data-target="#my-modal">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="{{url_for('editPartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" class="glp_alignment">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
              </div>
            </div>
          </div>
    {% else %}
        <div class="container">
                <div class="panel-heading">
                    <h1>
                        {{pc_components.c_name}}
                        {% if 'username' in session %}
                        <a href="{{ url_for('newPartItem', pccomponents_id=pc_components.id) }}" class="btn btn-default btn-md navbar-btn" role="button">
                                <span class="glyphicon glyphicon-floppy-disk"></span>
                        </a>
                        {% else %}
                        <a href="{{ url_for('newPartItem', pccomponents_id=pc_components.id) }}" class="btn btn-default btn-md navbar-btn" role="button" style="display:none">
                                <span class="glyphicon glyphicon-floppy-disk" style="display:none"></span>
                        </a>
                        {% endif %}
                    </h1>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Part Name</th>
                                    <th>Part Description</th>
                                    <th>Unit Cost</th>
                                    <th>Unit Quantity</th>
                                    {% if 'username' in session %}
                                    <th></th>
                                    {% else %}
                                    <th style="display:none!important"></th>
                                    {% endif %}
                                </tr>
                            </thead>
                            {% for i in pc_parts %}
                            <tbody>
                                <tr>
                                    <td>
                                        {{i.p_name}}
                                    </td>
                                    <td>
                                        {{i.description}}
                                    </td>
                                    <td>
                                        {{i.cost}}
                                    </td>
                                    <td>
                                        {{i.qty}}
                                    </td>
                                    {% if 'username' in session %}
                                    <td>
                                        <a href="{{url_for('deletePartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" data-toggle="modal" data-target="#my-modal">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{url_for('editPartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" class="glp_alignment">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                    {% else %}
                                    <td style="display:none">
                                        <a href="{{url_for('deletePartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" data-toggle="modal" data-target="#my-modal">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="{{url_for('editPartItem', pccomponents_id=i.pccomponents_id, part_id = i.id)}}" class="glp_alignment">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                </div>
    {% endif %}


    <!-- Start Modal -->
    <div class="modal fade" id="my-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                    <div class="modal-header mod-header">
                            <button type="button" class="close" data-dismiss="modal">
                              &times;
                            </button>
                            <h1 class="modal-title sharp">
                                Delete Part
                            </h1>
                      </div>
              <div class="modal-content sharp">
                <!-- /.modal-content -->
              </div>
            </div>
    </div>
    <!-- End Modal -->
</body>
{% endblock %}
</html>
